.pointer {
    position: relative;
    top: 25px;
    left: 45%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 40px 20px;
    border-color: transparent transparent #ff0000 transparent;
    transform: rotate(180deg);
}

body {
    background-image: url('https://www.transparenttextures.com/patterns/brick-wall-dark.png');
}